@model ArticleVM

<h2>Makale Ekle</h2>

<form asp-controller="User" asp-action="ArticleAdd" method="post">
    <div class="form-group">
        <label for="title">Başlık</label>
        <input type="text" class="form-control" id="title" name="Title" asp-for="Title" required>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="content">İçerik</label>
        <textarea class="form-control" id="content" name="Content" asp-for="Content" rows="5" required></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="category">Kategori</label>
        <select class="form-control" id="category" name="Id" asp-for="CategoryId" required>
            <option value="">Seçiniz</option>
            @foreach (var category in ViewBag.Categories) // ViewBag.Categories içerisinde kategorileri alacağız
            {
                <option value="@category.Id">@category.Name</option>
            }
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Ekle</button>
</form>